body{
    background: #f2f2f2;
}

.nav-logo{
    width: 80px;
    height: 35px;
}

.body-main{
    background: #fff;
    width: 750px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.page-title{
    text-align: center;
}