{% extends "base.html" %} {% block title %}监控{% endblock %} {% block head %}
<script src="{{ url_for('static',filename='js/echarts/echarts.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/echarts/macarons.js') }}"></script> {% endblock %} {% block main %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:400px;"></div>
<script type="text/javascript">
    var data = {{ data| tojson }};
    var time = data.time;
    var temp = data.temp;
    // 基于准备好的dom，初始化echarts实例
    var dom = document.getElementById('main');
    var myChart = echarts.init(dom, "macarons");
    var option = {
        title: {
            text: "温度曲线"
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {
                    show: true
                },
                dataZoom: {
                    show: true
                },
                restore: {
                    show: true
                },
                dataView: {
                    readOnly: false
                },
            }
        },
        tooltip: {
            show: true,
            trigger: "axis"
        },
        legend: {
            data: ["温度"]
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        dataZoom: [{
            type: "slider",
            start: 0,
            end: 100
        }],
        series: [{
            name: "温度",
            type: 'line',
            data: [],
            markPoint: {
                data: [
                    { type: "max", name: "最高温度" },
                    { type: "min", name: "最低温度" }
                ]
            },
            markLine: {
                data: [
                    { type: "average", name: "平均温度" }
                ]
            }
        }]
    };

    myChart.setOption(option);

    //动态更新图表数据
    function getData() {
        $.ajax({
            type: "get",
            url: "/monitor/temperature",
            dataType: "json",
            success: function (data) {
                time = data.time;
                temp = data.temp;
                myChart.setOption({
                    xAxis: {
                        data: time
                    },
                    series: [{
                        name: "温度",
                        data: temp
                    }]
                });
            },
            error: function (xhr, type) {
            }
        });
    }

    setInterval(getData, 1000);;
</script> {% endblock %}